.containerChild,
.containerItem {
  width: 9.63%;
  position: absolute;
  margin: 0 !important;
  height: 27.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.containerChild {
  top: 11.71%;
  right: 104.01%;
  bottom: 60.48%;
  left: -13.64%;
  object-fit: contain;
  z-index: 2;
}
.containerItem {
  top: 58.97%;
  right: -13.51%;
  bottom: 13.22%;
  left: 103.88%;
  z-index: 3;
}
.contact,
.container {
  display: flex;
  align-items: center;
}
.container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: var(--gap-152xl);
}
.contact {
  width: 1280px;
  background-color: var(--base-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-93xl) var(--padding-13xl);
  box-sizing: border-box;
}
