.heroChild,
.heroItem {
  width: 25.94%;
  position: absolute;
  margin: 0 !important;
  height: 55.21%;
  top: -17.03%;
  right: -7.55%;
  bottom: 61.82%;
  left: 81.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 3;
}
.heroItem {
  width: 11.47%;
  height: 31.74%;
  top: 58.93%;
  right: 91.19%;
  bottom: 9.33%;
  left: -2.67%;
  z-index: 2;
}
.hero {
  background-color: var(--base-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-45xl) var(--padding-93xl) var(--padding-13xl);
  position: relative;
  gap: var(--gap-101xl);
}
