.rectangle {
  width: 300px;
  position: relative;
}
.main {
  width: 1280px;
  background-color: var(--primary-25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-93xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
