.rectangle {
  width: 300px;
  position: relative;
}
.projectLogos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rectangle1 {
  width: 66px;
  position: relative;
}
.rectangleParent {
  justify-content: flex-end;
  gap: var(--gap-base);
}
.container,
.navbar,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container {
  align-self: stretch;
  flex: 1;
  justify-content: space-between;
}
.navbar {
  width: 1280px;
  background-color: var(--base-white);
  border-bottom: 1px solid var(--gray-200);
  box-sizing: border-box;
  height: 64px;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
}
