.rectangle {
  width: 300px;
  position: relative;
}
.rectangle1 {
  flex: 1;
  position: relative;
}
.partnerSection,
.rectangleParent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangleParent {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xl) 0;
  gap: var(--gap-base);
}
.partnerSection {
  width: 1051px;
  flex-direction: column;
  gap: var(--gap-3xs);
  z-index: 0;
}
